pulse/
xsettingsd/
yay/
vesktop/
citra-emu/
desmume/
melonDS/
user-dirs.dirs
user-dirs.locale
menus/
QtProject.conf
mimeapps.list
glib-2.0/
Thunar/
xfce4/
nemo/
go/
clipse/clipboard_history.json
clipse/clipse.log
clipse/tmp_files/
labwc/menu.xml
mgba/
hyfetch.json
neofetch/
